html{
min-height:100%;

}

body{
min-height:100%;
margin:0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background:none;
}

.a{
margin-left:10vw;
}

.viewer{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}

.roko1{
width:80vw;
border: inset 0.3rem maroon;
}

.roko2{
width:80vw;
border: inset 0.3rem rgb(128,119,0);
}

.roko3{
width:80vw;
border: inset 0.3rem rgb(0,128,128);
}

.roko img{
width:100%;
height:auto;
display:block;
}

img{
max-width:100%;
height:auto;
}

.maroon{
color:maroon;
}

.min{
font-size:0.7rem;
}

/* PC */

@media (min-width:768px){

.viewer{
flex-direction:row;
justify-content:center;
}

.roko1,.roko2,.roko3{
width:27vw;
}


}



body,html{
  background: linear-gradient(225deg, hsla(189, 100%, 79%, 0.835),hsla(140, 100%, 16%, 0.171), hsla(0, 100%, 78%, 0.506));

}


